@import "tailwindcss";


:root {
  --bg-primary: oklch(0.9093 0.0096 119.59);
  --bg-secondary: oklch(0.865 0.0164 114.42);
  --bg-gray-primary: oklch(0.7921 0.0124 133.4);
  --bg-gray-secondary: oklch(0.6619 0.0161 196.77);
  --bg-green-primary: oklch(0.5407 0.0256 182.5);
  --text-green-primary: oklch(0.5407 0.0256 182.5);
  --text-green-primary-hover: oklch(0.407 0.0256 182.5);


}