@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Oswald:wght@200..700&display=swap');

:root {
--bg-primary: oklch(0.95 0.005 120);
--gray-primary: oklch(0.88 0.007 120);
--gray-secondary: oklch(0.35 0.02 260);
--green-primary: oklch(0.55 0.12 150);
--green-primary-hover: oklch(0.42 0.12 150);
--green-secondary: oklch(0.78 0.08 150);
--yellow-primary: oklch(0.82 0.15 95);
}

* {
	scrollbar-width: none;
	-ms-overflow-style: none;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}